@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
.nav {
  font-family: 'Montserrat', sans-serif;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* set a fixed height */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 20px;
}

#user {
    position: fixed;
    left: 0;
}

#title {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

#logout {
    position: fixed;
    right: 0;
}

/* Media query to change the layout on smaller screens */
#logout {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px 15px;
    border: none;
}

#logout:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

#slideshow {
    width: 100%;
    height: 500px; /* adjust this value to fit your design */
    position: relative;
    margin-top: 80px;
    
    margin-left:-10px;
    overflow-y:hidden;
    
    /* object-fit: contain; */
}

#slideshow img {
    width: 110%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
    object-fit: cover;
    overflow-y:hidden;
    overflow-x:hidden;
}

#slideshow img.active {
    opacity: 1;
}

.Map
{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

@media (max-width: 820px) {
    .nav {
      flex-wrap: wrap;
      align-content: center;
    }
    #title {
      width: auto;
    }
  }

  .wrapper{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    background-color: transparent;
    

  }
  
  a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    /* border: 2px solid #333; */
    letter-spacing: 2px;
    text-align: center;
    position: abso;
    transition: all .35s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    border-radius: 12px;
  }
  
  a span{
    position: relative;
    z-index: 2;
  }
  
  a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    transition: all .35s;
  }
  
  a:hover{
    color: #fff;
  }
  
  a:hover:after{
    width: 100%;
  }

